[user]
	email = jsseabold@gmail.com
	name = Skipper Seabold
[alias]
	recent = log -n 10 --oneline --graph
	st = status -s -uno
    co = checkout
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
    safemerge = merge --ff-only
    tracked = status -uno
[color]
	ui = true
[merge]
	log = true
	summary = true
[core]
	editor = vim -f
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
