[user]
    email = jsseabold@gmail.com
    name = Skipper Seabold
[alias]
    pull = pull --rebase-preserve
    fetch = fetch --prune
    recent = log -n 10 --oneline --graph
    st = status -s -uno
    co = checkout
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
    safemerge = merge --ff-only
    tracked = status -uno
    root = rev-list --max-parents=0 HEAD
[color]
    ui = true
[merge]
    log = true
    summary = true
[core]
    editor = vim -f
[credential]
    helper = !aws --profile jseabold codecommit credential-helper $@
    UseHttpPath = true
